#CadreIndividus
{
	
	
}
/* ################################################################################################# */
.CadreTest
{
	background-color:Transparent;
	background-image: url('Image/test.png'); 
	background-repeat:no-repeat; 
	background-position:center center;
	height:532px;
	width:350px;
	text-align:center;
	
	
}